body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding: 20px;
}

.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.footer {
    background: #343a40;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 0.9rem;
}

.hero {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
    padding: 50px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 0px;
}
